
body {
    background-image: url("background-store.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

marquee {
    margin-top: 2%;
    margin-bottom: 5%;
    color: #66fcf1;
    font-family: "Arial", sans-serif;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
  }

  .title {
    font-size: 24px;
    font-family: "Arial", sans-serif;
    color: #333;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 50px;
    margin-top: 50px;
}

  h1 {
    color: #66fcf1;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  a {
    color: #66fcf1;
  }

  .price text {
    font-size: 500px;
    font-weight: 100;
    color: #66fcf1;
  }

  .selection {
    border: 2px solid #66fcf1;
    height: 30px;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 10px;


  }
/* for the images */
img {
    border: 5px solid #66fcf1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
}

/* for the logo style */
.logo {
    border: 5px solid #66fcf1;
    border-radius: 130px; 
    margin: 3px;
    width: 350px;
    height: 300px;
}

/* container for images or products */
.container {
    border: 5px solid #66fcf1;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

/* to make a grid of images */
  .image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
/* styling the images that are grided itself */
  .image-grid img {
    transition: transform .8s ease;
    border-radius: 40px;
    margin: 10px;
    width: 200px;
    height: 200px;
  }

/*Animation of images */
  .image-grid img:hover {
    transform: scale(1.2);

  }

  .slideDisplay {
    BORDER: 5px solid #66fcf1;
    border-radius: 50px;
    HEIGHT: 300px;
    WIDTH: 300px;
  }

.slideContainer {
  position: relative;
  display: inline-block;
}

.buttonContainer {
  position: absolute;
  width: 100%;
  text-align: center;
}

.prevButton, .nextButton {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 15px;
  border: 3px solid#66fcf1;
  color: #ddd;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.prevButton:hover, .nextButton:hover {
  background-color: #555;
  color: #fff;
}

/* for organizing text boxes */

.textbox {
    text-align: center;
    border: 3px solid #66fcf1;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
    border-radius: 20px;
}

.font {
    font-size: 25px;
    color: #66fcf1;
}

